.container_form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 70px);
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 400px;
  color: var(--main-color);
}

.form input::placeholder {
  color: var(--main-color);
}

.form input,
.form__submit {
  padding: 5px 25px 8px;
  color: var(--main-color);
  border: 2px var(--main-color) solid;
  border-radius: 2rem;
  outline: none;
}

.form__name {
  margin-top: 40px;
}

.select__container,
.form__email,
.form__number,
.form__submit,
.form__approvals {
  margin-top: 15px;
}

.form__email {
  margin-top: 50px;
}

.form__title {
  font-size: 1.3rem;
  font-weight: bold;
  font-style: italic;
  position: relative;
}

.form__title i {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  left: -40px;
  font-size: 1.5rem;
}

.form__events {
  width: calc(100% + 50px);
  position: relative;
  appearance: none;
  position: absolute;
  border: none;
  outline: none;
  padding: 5px 25px 8px;
  background-color: transparent;
  color: var(--main-color);
}

.form__events option {
  color: white;
  background-color: var(--main-color);
}

.select__container {
  position: relative;
  height: calc(1rem + 20px);
  color: var(--main-color);
  border: 2px var(--main-color) solid;
  border-radius: 2rem;
}

.select__arrow {
  position: absolute;
  top: 0;
  right: -50px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid var(--main-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.form__submit {
  transition: .2s linear all;
  width: 50%;
  align-self: self-end;
}

.form__submit:hover {
  background-color: var(--main-color);
  color: white;
}

.form__approvals {
  font-size: 0.7rem;
  display: flex;
  flex-direction: column;
}

.form__approvals label {
  font-size: 0.7rem;
  margin-top: 6px;
  position: relative;
  padding-left: 25px;
}

.form__approvals input {
  display: none;
}

.form__checkmark {
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid var(--main-color);
}

.form__approvals label input:checked ~ .form__checkmark {
  background-color: var(--main-color);
}

.form__approvals label:first-child {
  margin-top: 0;
}